@model IEnumerable<MMClubs.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerPerformance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPerformances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerPerformance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPerformances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.ClubId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Contract1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contract1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Contract1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
